#akjshkdfasdf{
			height: 100px; 
			width: 200px;
			background-color: lightblue;
		}

		#div2{
			height: 200px; 
			width: 150px;
			background-color: green;
			margin-top: 15px; 
			margin-bottom: 20px; 
			padding: 10px;
			border-radius: 5%;
		}
		.div3{

			height: 100px;
			width: 300px;
			background-color: #341f97 ;
			color: white;
			padding: 10px;
			border: 5px solid #ee5253;
		}

		#parent{
			height: 300px;
			margin-bottom: 20px;
			width: 100%;
			background-color: #576574;
		}

		.commonChild{
			height: 290px;
			width: 25%;
			float: left;
			overflow: hidden;
		}

		#parent #child1
		{
			background-color: green;
			width: 50%;
		}
		#child2
		{
			background-color: #ff9f43;
		}
		#child3
		{
			background-color: #48dbfb;
		}
		#child4
		{
			background-color: #ff9f43;
		}

		#ostad-button-info{
			background-color: #FF9F47;
			color: white;
			border:none;
			padding: 15px 20px;
			font-size: 16px;

		}

		#ostad-button-success{
			background-color: green;
			color: white;
			border:none;
			padding: 15px 20px;
			font-size: 16px;

		}